@font-face{
    font-family: PoppinsRegular;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face{
    font-family: PoppinsMedium;
    src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face{
    font-family: PoppinsBold;
    src: url("./assets/fonts/Poppins-Bold.ttf");
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    font-family: PoppinsRegular, Helvetica, sans-serif;
    background-color: #f9f9fc;
    color: #757575;
}
.container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
a{
    color: #757575;
    text-decoration: none;
}
.center{justify-content: center;}
.space-between{justify-content: space-between;}
.space-around{justify-content: space-around;}
nav{
    height: 80px;
    background-color: #ffffff;
    font-size: 13px;
    font-family: PoppinsMedium;
    box-shadow: 0 1px 50px 0 #C5CAE9;
    /* margin-bottom: 50px; */
    position: fixed;
    width: 100%;
    z-index: 999;
}
#nav-kiri, #menu, #nav-kanan{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-item{
    padding: 10px 10px;
}
#menu a:hover{
    color: #303F9F;
}
.selected{
    background-color: #C5CAE9;
    color: #303F9F;
    border-radius: 5px;
}
#logo-kelas{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}
#nav-kanan{font-family: PoppinsMedium;}
#profil{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}
#nama{cursor: pointer;}
#logo-kelas img, #profil img{
    width: 50px;
    height: 50px;
}
#dropdown-nav-kanan{
    position: absolute;
    display: block;
    background-color: #ffffff;
    padding: 10px;
    top: 80px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 15px 1px #C5CAE9;
    display: none;
}
#dropdown-nav-kanan a:hover, #nama:hover{color: #303F9F;}
.dropdown-nav-kanan-item{line-height: 40px;}
#sidebar-kiri{
    display: flex;
    flex-direction: column;
    width: 280px;
    /* margin-right: 50px; */
    position: fixed;
    top: 130px;
}
#ucapan{
    background-color: #3F51B5;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px 1px #C5CAE9;
    padding: 20px;
    color: #ffffff;
    font-family: PoppinsRegular;
    margin-bottom: 20px;
}
#ucapan-orang{
    font-family: PoppinsMedium;
    margin-bottom: 20px;
    text-align: center;
}
#status-absen{
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}
.sudah-absen{
    background-color: #5eccd6;
    padding: 5px;
    border-radius: 5px;
}
.belum-absen{
    background-color: #ffb822;
    padding: 5px;
    border-radius: 5px;
}
#data-diri{
    font-size: 13px;
}
.data-diri-header{
    color: #C5CAE9;
    font-family: PoppinsBold;
}
#status-kelas{
    background-color: #ffb822;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px 1px #C5CAE9;
    padding: 20px;
    font-family: PoppinsRegular;
    color: #000000;
}
#jumlah-orang{
    font-size: 26px;
    font-family: PoppinsBold;
}
#siapa-aja{
    width: 100%;
    font-family: PoppinsMedium;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #ffb822;
    color: #212121;
    border: 1px solid #fff8e8;
}
#siapa-aja:hover{
    background-color: #fff8e8;
    color: #ffb822;
    border: 1px solid #ffb822;
}
#postingan-utama{
    width: 560px;
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
    top: 130px;
    left: 330px;
    position: relative;
}
.postingan-item{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px 1px #C5CAE9;
    padding: 20px;
    font-family: PoppinsRegular;
    color: #212121;
    margin-bottom: 20px;
}
.yang-post{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.foto-ts{
    margin-right: 10px;
}
.foto-ts img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nama-ts{
    font-family: PoppinsBold;
    font-size: 14px;
}
.waktu-post{
    font-size: 12px;
    color: #757575;
}
.isi-post{
    margin-bottom: 10px;
}
.materi-item{
    background-color: #C5CAE9;
    color: #303F9F;
    font-size: 13px;
    font-family: PoppinsMedium;
    border-radius: 5px;
    padding: 10px;
}
#sidebar-kanan{
    width: 330px;
    position: fixed;
    top: 130px;
    left: 973.7px;
}
#waktu{
    background-color: #7C4DFF;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px 1px #C5CAE9;
    padding: 20px;
    font-family: PoppinsRegular;
    color: #ffffff;
    margin-bottom: 20px;
}
#jam{
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.judul-acara{
    font-family: PoppinsBold;
    font-size: 14px;
}
.detail-acara{
    font-size: 12px;
    color: #C5CAE9;
}
.acara-kiri{
    margin-right: 10px;
}
.acara-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
footer{
    color: #757575;
    font-size: 12px;
    font-family: PoppinsBold;
    padding: 20px 0;
    text-align: center;
}
#login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#login-page-kiri{
    padding: 50px;
    width: 40vw;
    height: 100vh;
    background: url("assets/images/bg-login.jpg");
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
#login-page-kiri img{
    width: 80px;
    height: 80px;
}
#login-page-kiri h3{
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
#login-page-kiri table{
    color: #ffffff;
}
#login-page-kanan{
    width: 60vw;
    height: 100vh;
    padding: 100px;
    box-sizing: border-box;
    background-color: #ffffff;
}
#login-page-kanan h2{
    margin-bottom: 50px;
    margin-top: 80px;
    text-align: center;
}
#login-page-kanan .grup-input{
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}
tr{
    /* border: 1px solid #ffffff; */
}
td, th{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}
th{
    font-family: PoppinsBold;
}
input, textarea{
    width: 100%;
    background-color: #f9f9fb;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    outline: none;
    font-family: PoppinsRegular;
}
textarea{
    height: 100px;
    padding: 20px;
}
.grup-input{
    margin-bottom: 20px;
}
.kotak input, .kotak textarea{
    width: 30%;
}
button{
    color: #ffffff;
    background-color: #3F51B5;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-family: PoppinsMedium;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 20px 1px #3F51B5;
}
button:hover{
    background-color: #303F9F;
}
section{
    top: 130px;
    position: relative;
    width: 100%;
}
.kotak, #konfirmasi-box{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px 1px #C5CAE9;
    padding: 40px;
    font-family: PoppinsRegular;
    color: #212121;
    display: flex;
    flex-wrap: wrap;
}
.kotak{
    flex-direction: column;
}
#konfirmasi{
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;
}
#konfirmasi-box{
    top: 100px;
    position: absolute;
    left: 420px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}
#konfirmasi-logo{
    font-size: 48px;
    color: #303F9F;
    text-align: center;
}
#konfirmasi-button{
    display: flex;
    justify-content: space-between;
}
#konfirmasi-pesan{
    padding: 30px 0;
    text-align: center;
}
#tempatduduk{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px; */
}
.judul-section{
    margin-bottom: 20px;
}
.duduk{
    width: 90px;
    height: 50px;
    background-color: #7C4DFF;
    margin: 1px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 12px; 
}
.cancel{
    background-color: #757575;
    box-shadow: 5px 5px 20px 1px #757575;
}
.cancel:hover{
    background-color: #BDBDBD;
}
.kosong{
    width: 90px;
    height: 50px;
    background-color: #ffffff;
    margin: 1px;
    display: inline-block;
}
.judul-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table button{
    box-shadow: none;
    padding: 5px 10px;
}
.delete, .remove{
    display: none;
}